.log-emergency {
    background-color: #B71C1C;
}

.log-alert {
    background-color: #D32F2F;
}

.log-critical {
    background-color: #F44336;
}

.log-error {
    background-color: #FF5722;
}

.log-warning {
    background-color: #FF9100;
}

.log-notice {
    background-color: #4CAF50;
}

.log-info {
    background-color: #1976D2;
}

.log-debug {
    background-color: #90CAF9;
}

.page-header{
    border-bottom: 2px solid #000 !important;
}

.margin-top-10{
    margin-top: 10px !important;
}

.margin-top-20{
    margin-top: 20px !important;
}

.margin-top-30{
    margin-top: 30px !important;
}

.margin-top-40{
    margin-top: 40px !important;
}

.margin-top-50{
    margin-top: 50px !important;
}

.cursor-pointer{
    cursor: pointer;
}

.article-date-width{
    width:75px !important;
}

.student-category{
    min-height: 100px;
    border: 2px solid #ccc !important;
    border-radius: 10px;
}